body{
	background-color: #EBEBEB;
	font-family: 'Roboto', sans-serif;
}

.container-signup{
	width: 360px;
	height: 500px;
	margin: auto;
	background-color: white;
	border-radius: 3px;
}
.container-pay{
	width: 360px;
	height: 300px;
	margin: auto;
	background-color: white;
	border-radius: 3px;
}
.container-login{
	width: 360px;
	height: 300px;
	margin: auto;
	background-color: white;
	border-radius: 3px;
}
.container-loan{
	width: 360px;
	padding-bottom: 20px;
	margin-top: 50%;
	margin: auto;
	background-color: white;
	border-radius: 3px;
	overflow-x: hidden;
	overflow-y: auto;
}
h1{
	text-align: center;
	padding-top: 15px;
	font-weight: lighter;
	color: #5e5e5e;
}

h4{
	text-align: center;
	font-weight: lighter;
	color: #5e5e5e;
}
form{
	width: 300px;
	margin-left: 20px;
}
form label{
	display: flex;
	margin-top: 20px;
	font-size: 18px;
	color: #5e5e5e;
}
form input{
	width: 100%;
	padding: 7px;
	border: none;
	border: 1px solid gray;
	border-radius: 6px;
	outline: none;
}
input:focus {
  box-shadow: 0 0px 3px 0 rgba(0, 0, 255, 0.9), 0 0px 0px 0 rgba(1, 1, 1, 0.19);
}
button{
	width: 320px;
	height: 35px;
	margin-top: 40px;
	background-color: coral;
	color: white;
	font-size: 18px;
	border: none;
	border-radius: 6px;
	outline: none;
	cursor: pointer;
}
p{
	text-align: center;
	color: #5e5e5e;
	font-size: 15px;
}
p a{
	color: coral;
}